.cover__link {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cover__link::before {
  content: "";
  background-color: rgb(42, 44, 47);
  opacity: 0.3;
  transition: opasity 0.3s linear;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.cover__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
  	min-height: 480px;
  }
}
@media (max-width: 425px) {
  .cover__link {
    min-height: 200px;
  }
}
