.intro__container {
  max-width: 690px;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .intro__container {
    max-width: 720px;
    align-self: center;
  }
}

@media (max-width: 425px) {
  .intro__container {
    max-width: 288px;
    align-self: center;
  }
}
