.footer__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px;
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  .footer__links {
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 32px;
    margin: 0;
    justify-content: flex-start;
  }
}