.lead__image {
  margin: 64px 0 0;
  display: block;
  max-width: 984px;
  max-height: 615px;
}

@media (max-width: 1024px) {
  .lead__image {
    width: 100vw;
    max-width: 928px;
    margin: 56px 0 0;
  }
}


@media (max-width: 425px) {
  .lead__image {
    max-width: 425px;
    margin-top: 40px;
  }
}